@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.aside {
  width: 250px;
  padding: 20px 10px;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}
.aside a:hover {
  background-color: var(--primary-600);
  color: white;
}
.aside a.active {
  width: 100%;
}
@media (max-width: 768px) {
  .aside {
    width: 70px;
    padding: 20px 0px;
  }
  .aside a.active {
    width: -moz-fit-content;
    width: fit-content;
  }
  .aside_title {
    display: none;
  }
}

.Toastify__progress-bar--info,
.Toastify__progress-bar--success {
  background-color: var(--primary-600) !important;
}

.Toastify__toast--success .Toastify__toast-body .Toastify__toast-icon svg,
.Toastify__toast--info .Toastify__toast-body .Toastify__toast-icon svg {
  fill: var(--primary-600) !important;
}

.p-accordion-tab .p-accordion-header-link {
  background: transparent;
  min-height: 30px;
  border-bottom: 1px solid var(--light-grey);
  color: var(--primary);
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.p-accordion-tab .p-accordion-header-link .p-icon {
  display: none;
}

.modal {
  width: 600px;
  max-width: 95%;
}
.modal .p-dialog-header {
  color: var(--primary-600);
  border-bottom: 1px solid var(--light-gray);
  padding: 16px;
}
.modal .p-dialog-header-icon:hover, .modal .p-dialog-header-icon:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
.modal .p-dialog-header h1 {
  font-weight: 700;
  font-size: 20px;
}
.modal.noHeader .p-dialog-header {
  border: none;
}
.modal.noHeader .p-dialog-header svg {
  color: var(--natural-dark);
}
.modal .p-dialog-content {
  padding-left: 16px;
  padding-right: 16px;
}
.modal .p-dialog-content::-webkit-scrollbar {
  width: 0.3rem;
}

.transparent_modal {
  box-shadow: none !important;
}
.transparent_modal .content::-webkit-scrollbar {
  width: 6px !important;
}
.transparent_modal .p-accordion-content,
.transparent_modal .p-dialog-header {
  background: transparent !important;
}
.transparent_modal .p-dialog-header {
  padding: 0 16px 8px !important;
}
.transparent_modal .p-dialog-header-icon svg,
.transparent_modal .p-dialog-header-icon svg path {
  color: #fff;
}
.transparent_modal .p-dialog-header-icons {
  order: 1;
}
.transparent_modal .p-dialog-title {
  order: 2;
}
.transparent_modal .p-dialog-content {
  background-color: white !important;
  border-radius: 12px !important;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  -ms-border-radius: 12px !important;
  -o-border-radius: 12px !important;
  padding: 40px 0;
  scrollbar-width: none;
}

body:dir(ltr) .register_modal .p-dialog-header h1 {
  font-weight: 700;
  font-size: 20px;
}

.downloadAppPopup .p-dialog-content {
  padding: 0px auto !important;
}
.downloadAppPopup .p-dialog-header {
  padding: 10px !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --primary-600: #0c6d63;
  --primary-500: #12a493;
  --primary-400: #61c2b8;
  --primary-300: #87d2c8;
  --primary-200: #b0e1dc;
  --primary-100: #d1edea;
  --secondary: #eb862a;
  --teritary: #abbdd3;
  --grey: #b5bcc5;
  --error: #b50808;
  --light-gray: #e3e8ef;
  --natural-light: #97a3b6;
  --natural-dark: #111729;
  --body-bg: "#FAFBFC";
}

@layer utilities {
  .nav a.active {
    @apply bg-primary-600 text-white;
  }
}
@layer components {
  label {
    @apply text-grey text-base font-medium;
  }
  .input {
    @apply border border-gray-300 active:border-primary-600 outline-none py-1 px-2 rounded-[4px] focus:border-primary-600 text-primary-600 caret-primary-600  placeholder:text-grey text-sm h-[40px];
  }
  .input-error {
    @apply border-error;
  }
  ::-webkit-scrollbar {
    @apply w-[5px] h-[5px];
  }
  ::-webkit-scrollbar-track {
    @apply bg-gray-100 bg-clip-padding;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-100 rounded;
  }
}
.pageNotFound {
  background-color: var(--primary);
}

.pageNotFound {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Varela Round", Sans-serif;
  text-shadow: 0 30px 10px rgba(0, 0, 0, 0.15);
}
.pageNotFound:before {
  height: 60vmax;
  width: 60vmax;
  z-index: -2;
}
.pageNotFound:after {
  height: 40vmax;
  width: 40vmax;
  z-index: -1;
}

.main {
  text-align: center;
  z-index: 5;
}

p {
  font-size: 18px;
  margin-top: 0;
}

h1 {
  font-size: 95px;
  margin: 0;
}

.bubble {
  background: linear-gradient(90deg, #005c97, var(--primary));
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
}
.bubble:before, .bubble:after {
  content: "";
  background: linear-gradient(90deg, #005c97, var(--primary));
  border-radius: 50%;
  box-shadow: 0 30px 15px rgba(0, 0, 0, 0.15);
  position: absolute;
}
.bubble:nth-child(1) {
  top: 15vh;
  left: 15vw;
  height: 22vmin;
  width: 22vmin;
}
@media (max-width: 991px) {
  .bubble:nth-child(1) {
    width: 15vmin;
    height: 15vmin;
    left: 0;
  }
}
.bubble:nth-child(1):before {
  width: 13vmin;
  height: 13vmin;
  bottom: -25vh;
  right: -10vmin;
}
.bubble:nth-child(2) {
  top: 20vh;
  left: 38vw;
  height: 10vmin;
  width: 10vmin;
}
@media (max-width: 991px) {
  .bubble:nth-child(2) {
    width: 8vmin;
    height: 8vmin;
    left: 20vw;
  }
}
.bubble:nth-child(2):before {
  width: 5vmin;
  height: 5vmin;
  bottom: -10vh;
  left: -8vmin;
}
.bubble:nth-child(3) {
  top: 12vh;
  right: 30vw;
  height: 13vmin;
  width: 13vmin;
}
@media (max-width: 991px) {
  .bubble:nth-child(3) {
    width: 10vmin;
    height: 10vmin;
    right: 20vw;
  }
}
.bubble:nth-child(3):before {
  width: 3vmin;
  height: 3vmin;
  bottom: -15vh;
  left: -18vmin;
  z-index: 6;
}
.bubble:nth-child(4) {
  top: 25vh;
  right: 18vw;
  height: 18vmin;
  width: 18vmin;
}
@media (max-width: 991px) {
  .bubble:nth-child(4) {
    width: 15vmin;
    height: 15vmin;
    right: 0vw;
  }
}
.bubble:nth-child(4):before {
  width: 7vmin;
  height: 7vmin;
  bottom: -10vmin;
  left: -15vmin;
}
.bubble:nth-child(5) {
  top: 60vh;
  right: 18vw;
  height: 28vmin;
  width: 28vmin;
}
@media (max-width: 991px) {
  .bubble:nth-child(5) {
    width: 20vmin;
    height: 20vmin;
    right: 0;
    top: 70vh;
  }
}
.bubble:nth-child(5):before {
  width: 10vmin;
  height: 10vmin;
  bottom: 5vmin;
  left: -25vmin;
}/*# sourceMappingURL=style.css.map */